<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<body>
    <th:block>
            <div class="container">
                <div class="col-6">
                    <h1>chatRoom</h1>
                </div>
                <div>
                    <div id="msgArea" class="col"></div>
                    <div class="col-6">
                        <div class="input-group mb-3">
                            <input type="text" id="msg" class="form-control">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button" id="button-send">전송</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6"></div>
            </div>

            <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>

    </th:block>

</body>
</html>


<script th:inline="javascript">
    $(document).ready(function(){

        let sockJs = new SockJS("/stomp/chat");
        let stomp = Stomp.over(sockJs);

        stomp.connect({}, function (){
            console.log("STOMP Connection")

            //4. subscribe(path, callback)으로 메세지를 받을 수 있음
            stomp.subscribe("/sub/chat/room/1", function (chat) {
                let content = JSON.parse(chat.body);

                let writer = content.writer;
                let message = content.message;
                let str = '';

                if(writer === "UserA"){
                    str = "<div class='col-6'>";
                    str += "<div class='alert alert-secondary'>";
                    str += "<b>" + writer + " : " + message + "</b>";
                    str += "</div></div>";
                }
                else{
                    str = "<div class='col-6'>";
                    str += "<div class='alert alert-warning'>";
                    str += "<b>" + writer + " : " + message + "</b>";
                    str += "</div></div>";
                }

                $("#msgArea").append(str);
            });

            //3. send(path, header, message)로 메세지를 보낼 수 있음
            //stomp.send('/pub/chat/enter', {}, JSON.stringify({roomId: "1", writer: "UserA"}))
        });

        $("#button-send").on("click", function(e){
            let msg = document.getElementById("msg");

            stomp.send('/pub/chat/message', {}, JSON.stringify({roomId: "1", message: msg.value, writer: "UserA"}));
            msg.value = '';
        });
    });
</script>

